// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "./scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

// Required
@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/utilities";
@import "./scss/root";
@import "./scss/reboot";

@import "./scss/type";
// @import "./scss/images";
@import "./scss/containers";
@import "./scss/grid";
// @import "./scss/tables";
// @import "./scss/forms";
@import "./scss/buttons";
@import "./scss/transitions";
@import "./scss/dropdown";
// @import "./scss/button-group";
@import "./scss/nav";
@import "./scss/navbar"; // Requires nav
// @import "./scss/card";
// @import "./scss/breadcrumb";
// @import "./scss/accordion";
// @import "./scss/pagination";
// @import "./scss/badge";
// @import "./scss/alert";
// @import "./scss/progress";
// @import "./scss/list-group";
@import "./scss/close";
// @import "./scss/toasts";
@import "./scss/modal"; // Requires transitions
// @import "./scss/tooltip";
// @import "./scss/popover";
// @import "./scss/carousel";
// @import "./scss/spinners";
@import "./scss/offcanvas"; // Requires transitions

// Helpers
@import "./scss/helpers";

//Positions

// Utilities
@import "./scss/utilities/api";

//
// Custom styles
//

@import "icon-list";

body {
  // padding: 3rem 1.5rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

// ====================================
// =========================================
// -------------------------------------------
// navbar
// .dropdown-toggle::after {
//   display: none;
// }
// .text-decoration-none {
//   text-decoration: none !important;
// }
// /* Font Awesome Icons have variable width. Added fixed width to fix that.*/
// .icon-width {
//   width: 2rem;
// }
